{% extends 'rango/base.html' %}

{% block title %}Registering with Rango{% endblock %}

{% block body_block %}
    <h1>Register with Rango</h1>

    {% if registered %}
    <p>Rango says: <strong>thank you for registration!</strong></p>
    <a href="/rango/">Return to the homepage.</a><br>
    {% else %}
    <p>Rango says: <strong>register here!</strong></p>

    <form id="user_form" method="post" action="/rango/register/"
          enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register">
    </form>
    {% endif %}
{% endblock %}